[defaults]
inventory = inventory.ini # Файл со списком хостов
remote_user = ubuntu # Пользователь для SSH-подключения
private_key_file = ~/.ssh/mykey # Путь к приватному ключу
host_key_checking = False # Не спрашивать "yes" при первом подключении
interpreter_python = /usr/bin/python3 # Путь к Python на удалённой машине

[privilege_escalation]
become = True # Выполнять задачи с sudo (как root)
